@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row ">
    <div class="row ">
        <div class="col-1"></div>
        <div class="col " style="left:5px;">
            <p style="margin-top: 40px; font-size: 20px; font-family: Inter; font-weight: 500; line-height: 0.5; text-align:center;">แจ้งขอเบิกค่ารักษาพยาบาล</p>
            <p style="font-size: 16px; font-family: Inter; font-weight: 400; line-height: 0.5; text-align: center;">Medical and Dental Claim</p>
        </div>
        <div class="col-2 " style="left:5px;">
            <p style="margin-top: 50px; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 0.5; text-align: center;">เลขที่ xxxxx/xxxx</p>
            <p style="font-size: 14px; font-family: Inter; font-weight: 300; line-height: 0.5; text-align: center;">No. xxxxx/xxxx</p>
        </div>
    </div>
    <div class="row " style="left:5px;">
        <div class="col-1"></div>
        <div class="col " style="left:5px;">
            <p style="margin-top: 30px; font-size: 14px; font-weight: 500; line-height: 0.5; text-align: center;">วันที่ <span id="thaiDate" style="font-size: 16px; font-weight: 500;"></span></p>
            <p style="font-size: 14px; font-weight: 500; line-height: 0.5; text-align: center;">Date <span id="englishDate" style="font-size: 16px; font-weight: 500;"></span></p>
        </div>
        <div class="col-2 " style="left:5px;">
            <p style="margin-top: 30px; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 0.5; text-align: center;">อายุการทำงาน x ปี<span id="experienceTH" style="font-size: 16px; font-weight: 500;"></span></p>
            <p style="font-size: 14px; font-family: Inter; font-weight: 300; line-height: 0.5; text-align: center;">Experience x Year<span id="experienceEN" style="font-size: 16px; font-weight: 500;"></span></p>
        </div>
    </div>
    <div class="row ">
        <div class="col-1"></div>
        <div style="left:20px; width:150px;">
            <p style="margin-top: 40px; margin-left: 20px; font-size: 14px; font-weight: 400; line-height: 0.5;">รหัสพนักงาน :</p>
            <p style="font-size: 14px; margin-left: 20px; font-weight: 400; line-height: 0.5; ">Employee ID</p>
        </div>
        <div class="col-1 " style="left:5px;">
            <input type="text" name="empID" class=" form-control" style="margin-top: 40px; margin-left:-40px; background: #D9D9D9; border-radius: 0; width:170px; " />
        </div>
        <div style="left: 5px; width: 150px;">
            <p style="margin-top: 40px; margin-left: 70px; font-size: 14px; font-weight: 400; line-height: 0.5;">ชื่อ :</p>
            <p style="font-size: 14px; margin-left: 70px; font-weight: 400; line-height: 0.5; ">Name</p>
        </div>
        <div class="col-2 " style="left:30px;">
            <input type="text" name="name" class=" form-control" style="margin-top: 40px; margin-left: -50px; background: #D9D9D9; border-radius: 0; width: 300px; " />
        </div>
    </div>
    <div class="row ">
        <div class="col-1"></div>
        <div style="left:20px; width:150px;">
            <p style="margin-top: 40px; margin-left: 20px; font-size: 14px; font-weight: 400; line-height: 0.5;">วันที่เริ่มงาน :</p>
            <p style="font-size: 14px; margin-left: 20px; font-weight: 400; line-height: 0.5; ">Start Date</p>
        </div>
        <div class="col-1 " style="left:5px;">
            <input type="text" name="startDate" class=" form-control" style="margin-top: 40px; margin-left:-40px; background: #D9D9D9; border-radius: 0; width:140px; " />
        </div>
        <div style="left: 5px; width: 160px;">
            <p style="margin-top: 40px; margin-left: 70px; font-size: 14px; font-weight: 400; line-height: 0.5;">ตำแหน่ง :</p>
            <p style="font-size: 14px; margin-left: 70px; font-weight: 400; line-height: 0.5; ">Position</p>
        </div>
        <div class="col-2 " style="left:45px;">
            <input type="text" name="position" class=" form-control" style="margin-top: 40px; margin-left: -50px; background: #D9D9D9; border-radius: 0; width: 170px; " />
        </div>
        <div style="left: 5px; width: 150px;">
            <p style="margin-top: 40px; margin-left: 30px; font-size: 14px; font-weight: 400; line-height: 0.5;">แผนก :</p>
            <p style="font-size: 14px; margin-left: 30px; font-weight: 400; line-height: 0.5; ">Department</p>
        </div>
        <div class="col-2 " style="left:30px;">
            <input type="text" name="department" class=" form-control" style="margin-top: 40px; margin-left: -50px; background: #D9D9D9; border-radius: 0; width: 200px; " />
        </div>
    </div>
    <div class="row ">
        <div class="col-1"></div>
        <div style="left:20px; width:250px;">
            <p style="margin-top: 40px; margin-left: 20px; font-size: 14px; font-weight: 400; line-height: 0.5; color: red; text-decoration: underline;">เลือกเรื่องที่ต้องการขอเบิกเงิน</p>
            <p style="font-size: 14px; margin-left: 20px; font-weight: 400; line-height: 0.5; color: red; text-decoration: underline; ">Please select the title</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-1"></div>
        <div class="col-5">
            <select class="form-select" id="Title" style="margin-top: 5px; margin-left: 13px; width: 400px; ">
                <option>ขอเบิกค่ารักษาพยาบาล   Medical and Dental Claim</option>
                <option>พิธีฌาปนกิจศพ   The Death Of Family’s  Member</option>
                <option>พิธีสมรส  Marriage</option>
                <option>พิธีอุปสมบท Ordination</option>
                <option>คลอดบุตร  Childbirth</option>
                <option>สาธารณะภัย  Public Danger</option>
                <option>สาธารณะประโยชน์  Public Purpose</option>
                <option>กิจกรรมเพื่อสังคม  CSR Activity</option>
            </select>
        </div>
    </div>
    <div class="row ">
        <div class="col-1"></div>
        <div style="left: 20px; width: 400px; margin-top: 10px; margin-left: 17px; ">
            <table class="table table-bordered">
                <tr>
                    <th style="font-size: 14px; font-weight: 400;">
                        สิทธิ์ที่ได้<br>
                        Quota
                    </th>
                    <th style="font-size: 14px; font-weight: 400;">
                        ใช้ไป<br>
                        Used
                    </th>
                    <th style="font-size: 14px; font-weight: 400;">
                        ยอดคงเหลือ<br>
                        Left
                    </th>
                </tr>
                <tr>
                    <td style="font-size: 14px; font-weight: 400;">xxxx บ.</td>
                    <td style="font-size: 14px; font-weight: 400;">xxxx บ.</td>
                    <td style="font-size: 14px; font-weight: 400;">xxxx บ.</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div style="left: 5px; width: 160px;">
            <p style="margin-top: 30px; margin-left: 30px; font-size: 14px; font-weight: 400; line-height: 0.5;">เป็นจำนวนเงิน :</p>
            <p style="font-size: 14px; margin-left: 30px; font-weight: 400; line-height: 0.5; ">Amount</p>
        </div>
        <div style="left: 45px; width: 120px;">
            <input type="text" name="Amount" class=" form-control" style="margin-top: 30px; margin-left: -20px; background: #D9D9D9; border-radius: 0; width: 100px; " />

        </div>
        <div style="left: 1px; width: 50px;">
            <p style="margin-top: 30px; margin-left: -27px; font-size: 14px; font-weight: 400; line-height: 0.5;">บาท</p>
            <p style="font-size: 14px; margin-left: -27px; font-weight: 400; line-height: 0.5; ">Bath</p>
        </div>
        <div class="col-7" style="left: 20px; width: 120px;">
            <p style="margin-top: 30px; margin-left: -7px; font-size: 14px; font-weight: 400; line-height: 0.5;">เป็นจำนวนเงินตัวอักษร&nbsp;&nbsp;<span id="AmountTH"></span></p>
            <p style="font-size: 14px; margin-left: -7px; font-weight: 400; line-height: 0.5; ">Amount in letter&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="AmountEN"></span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div style="left: 5px; width: 140px;">
            <p style="margin-top: 30px; margin-left: 30px; font-size: 14px; font-weight: 400; line-height: 0.5;">รายละเอียด :</p>
            <p style="font-size: 14px; margin-left: 30px; font-weight: 400; line-height: 0.5; ">Detail</p>
        </div>
        <div class="col-4" style="left: 30px; ">
            <textarea class="form-control" id="detail" rows="3" style="margin-top: 30px; margin-left: -30px;"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div style="left: 5px; width: 300px;">
            <p style="margin-top: 30px; margin-left: 30px; font-size: 14px; font-weight: 400; line-height: 0.5;">เบิกให้ผู้ใด&nbsp; (To whom)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div style="left: 5px; width: 200px; margin-left: 50px;">
            <input class="form-check-input" type="radio" name="whom" id="whom_yourself" value="yourself" onclick="handleRadioClick(this)">
            <label class="form-check-label" style="font-size: 14px; font-weight: 400;">&nbsp;1) ตนเอง (yourself)</label>
        </div>
        <div style="left: 5px; width: 200px;">
            <input class="form-check-input" type="radio" name="whom" id="whom_offspring" value="offspring" onclick="handleRadioClick(this)">
            <label class="form-check-label" style="font-size: 14px; font-weight: 400;">&nbsp;2) บุตร (offspring)</label>
        </div>
        <div style="left: 5px; width: 200px;">
            <input class="form-check-input" type="radio" name="whom" id="whom_Spouse" value="Spouse" onclick="handleRadioClick(this)">
            <label class="form-check-label" style="font-size: 14px; font-weight: 400;">&nbsp;3) คู่สมรส(Spouse)</label>
        </div>
        <div style="left: 5px; width: 250px;">
            <input class="form-check-input" type="radio" name="whom" id="whom_Parent" value="Parent" onclick="handleRadioClick(this)">
            <label class="form-check-label" style="font-size: 14px; font-weight: 400;">&nbsp;4) บิดา, มารดา (Father, Mother)</label>
        </div>
        <div style="left: 5px; width: 300px;">
            <!-- Dummy option to simulate unchecking -->
            <input class="form-check-input" type="radio" name="whom" id="whom_none" value="" style="display:none">
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div style="left: 5px; width: 300px;">
            <p style="margin-top: 30px; margin-left: 30px; font-size: 14px; font-weight: 400; line-height: 0.5;">โดยมีเอกสารแนบ ดังนี้</p>
            <p style="font-size: 14px; margin-left: 30px; font-weight: 400; line-height: 0.5; ">By attached below document</p>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div style="left: 5px; width: 500px;">
            <table class="table table-bordered" style="font-size: 14px; margin-left: 30px; font-weight: 400; line-height: 0.5; ">
                <tr>
                    <td><input class="form-check-input" type="checkbox" value="" style="margin-left: -2px; margin-top: -7px; width: 20px; height: 20px; " id="defaultCheck1"></td>
                    <td><label class="form-check-label" for="defaultCheck1">1)ใบเสร็จ (Receipt)</label></td>
                </tr>
                <tr>
                    <td><input class="form-check-input" type="checkbox" value="" style="margin-left: -2px; margin-top: -7px; width: 20px; height: 20px; " id="defaultCheck1"></td>
                    <td><label class="form-check-label" for="defaultCheck1">2)ใบรับรองแพทย์  (Medical certificate) </label></td>
                <tr>
                    <td><input class="form-check-input" type="checkbox" value="" style="margin-left: -2px; margin-top: -7px; width: 20px; height: 20px; " id="defaultCheck1"></td>
                    <td><label class="form-check-label" for="defaultCheck1">3)ใบรับรองการเป็นบุตร  (child certificate)</label></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div style="left: 5px; width: 190px;">
            <p style="margin-top: 10px; margin-left: 30px; font-size: 14px; font-weight: 400; line-height: 0.5;">แนบไฟล์ </p>
            <p style="font-size: 14px; margin-left: 30px; font-weight: 400; line-height: 0.5; ">Example file input</p>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4" style="left: 30px; ">
            <input type="file" class="form-control-file" id="File1" style="margin-top: 5px; ">
        </div>
    </div>
    <div class="row">
        <div class="col-9"></div>
        <div class="col">
            <button type="submit" class="btn mb-2" style="background-color: #3383AF; margin-top: 30px; margin-left: 50px; color: white; width: 150px; height: 50px; font-size: 16px; font-weight: 600; ">Submit</button>
        </div>
    </div>
</div>
    <script type="text/javascript">
        $(document).ready(function () {
            let today = new Date().toISOString().slice(0, 10);
            let [year, month, day] = today.split('-');
            let formattedDate = `${month}/${day}/${year}`;
            let AmountinLetter = "(....................................................................................................................................)";
            $("#englishDate").text(formattedDate);
            $("#thaiDate").text(formattedDate);
            $("#AmountTH").text(AmountinLetter);
            $("#AmountEN").text(AmountinLetter);
           
        });
        var previousRadio = null;

        function handleRadioClick(radio) {
            if (radio === previousRadio) {
                // If the clicked radio is the same as the previous one, uncheck it
                radio.checked = false;
                previousRadio = null;
            } else {
                // Update the previousRadio variable and handle the click as usual
                previousRadio = radio;
            }
        }
        
    </script>

