
@{

}
<div class="row">

    <label style="font-size: 24px; margin-top: 50px; margin-left: 10px; font-weight: 700; line-height: 0.5; color: #3383AF; ">Document</label>
    <div class="col">
        <div class="col-12" style=" text-align: right;">
            <button type="button" class="btn" style="background-color: #3CE84D;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
               <img src="~/img/plus.png" style="width: 17px; height: 15px; ">
            </button>
        </div>
        <table class="table table-bordered" style="font-size: 16px; margin-top: 10px; font-weight: 400; line-height: 0.5; border-color: #3383AF;">
            <tr>
                <th style="background-color: #3383AF; color: white; width: 15%; text-align: center;">Document ID</th>
                <th style="background-color: #3383AF; color: white; width: 40%;">Document</th>
                <th style="background-color: #3383AF; color: white; width: 50%;">Category</th>
                <th style="background-color: #3383AF; color: white; width: 12%; text-align: center;">Manage</th>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle; font-size: 14px;">xxxxxxxxxx</td>
                <td style="vertical-align: middle; font-size: 14px;">ใบรับรองแพทย์</td>
                <td style="vertical-align: middle; font-size: 14px;">แจ้งขอเบิกค่ารักษาพยาบาล Medical and Dental Claim</td>
                <td style="display: flex; align-items: center; text-align: center; color: #3CE84D; font-size: 14px;">
                    <img src="~/img/compose.png" style="width: 27px; height: 25px; margin-right: 5px;  " data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                    Active
                </td>
            </tr>
        </table>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3383AF; color: white;">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: white;">ADD DOCUMENT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn" style="background-color: #3CE84D; color:white;">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3383AF; color: white;">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: white;">EDIT DOCUMENT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn" style="background-color: #3CE84D; color:white;">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /* sidebar */
    const body = document.querySelector('body');
    const sidebar = document.getElementById("navtag");
    const toggle = body.querySelector(".toggle");

    toggle.addEventListener("click", () => {
        console.log("Toggle button clicked!");
        toggle.classList.toggle('rotate');
        sidebar.classList.toggle("close");
    });
</script>