@{
}

<div class="row ">
    <div class="col-9 custom-border" style="height:1353px;">
        @*Head Body*@
        <div class="row ">
            <div class="col-1"></div>
            <div class="col-8" style="left:5px;">
                <p style="margin-top: 40px; font-size: 20px; font-family: Inter; font-weight: 500; line-height: 0.5; text-align:center;">แจ้งขอเบิกค่ารักษาพยาบาล</p>
                <p style="font-size: 16px; font-family: Inter; font-weight: 400; line-height: 0.5; text-align: center;">Medical and Dental Claim</p>
            </div>
            <div class="col-2 " style="left:5px;">
                <p style="margin-top: 50px; font-size: 12px; font-family: Inter; font-weight: 300; line-height: 0.5; text-align: center;">เลขที่ xxxxx/xxxx<span id="thaiNum" style="font-size: 12px;  font-weight: 500;"></span></p>
                <p style="font-size: 12px; font-family: Inter; font-weight: 300; line-height: 0.5; text-align: center;">No. xxxxx/xxxx<span id="EngNum" style="font-size: 12px;  font-weight: 500;"></span></p>
            </div>
        </div>
        <div class="row " style="left:5px;">
            <div class="col-1"></div>
            <div class="col-8 " style="left:5px;">
                <p style="margin-top: 30px; font-size: 12px; font-weight: 500; line-height: 0.5; text-align: center;">วันที่ <span id="thaiDate" style="font-size: 12px;  font-weight: 500;"></span></p>
                <p style="font-size: 12px; font-weight: 500; line-height: 0.5; text-align: center;">Date <span id="englishDate" style="font-size: 12px; font-weight: 500;"></span></p>
            </div>
            <div class="col-2 " style="left:5px;">
                <p style="margin-top: 30px; font-size: 12px; font-family: Inter; font-weight: 300; line-height: 0.5; text-align: center;">อายุการทำงาน <span id="experienceTH"></span></p>
                <p style="font-size: 12px; font-family: Inter; font-weight: 300; line-height: 0.5; text-align: center;">Experience <span id="experienceEN"></span></p>
            </div>
        </div>
        @*body*@
        <div class="row ">
            <div class="col-1"></div>
            <div style="left:20px; width:150px;">
                <p style="margin-top: 25px; margin-left: 20px; font-size: 12px; font-weight: 400; line-height: 0.5;">รหัสพนักงาน :</p>
                <p style="font-size: 12px; margin-left: 20px; font-weight: 400; line-height: 0.5; ">Employee ID</p>
            </div>
            <div class="col-1 " style="left:5px;">
                <input type="text" name="empID" readonly class=" form-control" style="margin-top: 25px; margin-left:-60px; background: #D9D9D9; border-radius: 0; width:170px; " />

            </div>
            <div style="left: 5px; width: 150px;">
                <p style="margin-top: 25px; margin-left: 70px; font-size: 12px; font-weight: 400; line-height: 0.5;">ชื่อ :</p>
                <p style="font-size: 12px; margin-left: 70px; font-weight: 400; line-height: 0.5; ">Name</p>
            </div>
            <div class="col-2 " style="left:30px;">
                <input type="text" name="name" readonly class=" form-control" style="margin-top: 25px; margin-left: -75px; background: #D9D9D9; border-radius: 0; width: 300px; " />

            </div>
        </div>
        <div class="row ">
            <div class="col-1"></div>
            <div style="left:20px; width:150px;">
                <p style="margin-top: 15px; margin-left: 20px; font-size: 12px; font-weight: 400; line-height: 0.5;">วันที่เริ่มงาน :</p>
                <p style="font-size: 12px; margin-left: 20px; font-weight: 400; line-height: 0.5; ">Start Date</p>
            </div>
            <div class="col-1 " style="left:18px;">
                <input type="text" name="startDate" readonly class=" form-control" style="margin-top: 15px; margin-left: -80px; background: #D9D9D9; border-radius: 0; width: 140px; " />

            </div>
            <div style="left: 5px; width: 160px;">
                <p style="margin-top: 15px; margin-left: 70px; font-size: 12px; font-weight: 400; line-height: 0.5;">ตำแหน่ง :</p>
                <p style="font-size: 12px; margin-left: 70px; font-weight: 400; line-height: 0.5; ">Position</p>
            </div>
            <div class="col-2 " style="left:30px;">
                <input type="text" name="position" readonly class=" form-control" style="margin-top: 15px; margin-left: -70px; background: #D9D9D9; border-radius: 0; width: 170px; " />

            </div>
        </div>
        <div class="row ">
            <div class="col-1"></div>
            <div style="margin-left: -10px; width: 150px;">
                <p style="margin-top: 15px; margin-left: 30px; font-size: 12px; font-weight: 400; line-height: 0.5;">แผนก :</p>
                <p style="font-size: 12px; margin-left: 30px; font-weight: 400; line-height: 0.5; ">Department</p>
            </div>
            <div class="col-2 " style="left:20px;">
                <input type="text" name="department" readonly class=" form-control" style="margin-top: 15px; margin-left: -65px; background: #D9D9D9; border-radius: 0; width: 200px; " />
            </div>
        </div>
        <div class="row ">
            <div class="col-1"></div>
            <div style="left:20px; width:250px;">
                <p style="margin-top: 15px; margin-left: 20px; font-size: 13px; font-weight: 400; line-height: 0.5; color: #1172CD; text-decoration: underline;">เลือกเรื่องที่ต้องการขอเบิกเงิน</p>
                <p style="font-size: 13px; margin-left: 20px; font-weight: 400; line-height: 0.5; color: #1172CD; text-decoration: underline; ">Please select the title</p>
            </div>
        </div>
        <div class="row ">
            <div class="col"></div>
            <div class="col-11">
                <select class="form-select" id="Title" style="margin-top: 5px; margin-left: 13px; width: 400px; ">
                    <option>ขอเบิกค่ารักษาพยาบาล   Medical and Dental Claim</option>
                    <option>พิธีฌาปนกิจศพ   The Death Of Family’s  Member</option>
                    <option>พิธีสมรส  Marriage</option>
                    <option>พิธีอุปสมบท Ordination</option>
                    <option>คลอดบุตร  Childbirth</option>
                    <option>สาธารณะภัย  Public Danger</option>
                    <option>สาธารณะประโยชน์  Public Purpose</option>
                    <option>กิจกรรมเพื่อสังคม  CSR Activity</option>
                </select>
            </div>
        </div>
        <div class="row ">
            <div class="col-1"></div>
            <div style="left: 20px; width: 400px; margin-top: 10px; margin-left: 17px; ">
                <table class="table table-bordered">
                    <tr>
                        <th style="font-size: 12px; font-weight: 400;">
                            สิทธิ์ที่ได้<br>
                            Quota
                        </th>
                        <th style="font-size: 12px; font-weight: 400;">
                            ใช้ไป<br>
                            Used
                        </th>
                        <th style="font-size: 12px; font-weight: 400;">
                            ยอดคงเหลือ<br>
                            Left
                        </th>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; font-weight: 400;">xxxx บ.</td>
                        <td style="font-size: 12px; font-weight: 400;">xxxx บ.</td>
                        <td style="font-size: 12px; font-weight: 400;">xxxx บ.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div style="margin-left: -9px; width: 140px;">
                <p style="margin-top: 15px; margin-left: 30px; font-size: 12px; font-weight: 400; line-height: 0.5;">เป็นจำนวนเงิน :</p>
                <p style="font-size: 12px; margin-left: 30px; font-weight: 400; line-height: 0.5; ">Amount</p>
            </div>
            <div style="left: 30px; width: 120px;">
                <input type="text" name="Amount" class=" form-control" style="margin-top: 15px; margin-left: -15px; background: #D9D9D9; border-radius: 0; width: 100px; " />
            </div>
            <div style="left: 1px; width: 35px;">
                <p style="margin-top: 15px; margin-left: -27px; font-size: 12px; font-weight: 400; line-height: 0.5;">บาท</p>
                <p style="font-size: 12px; margin-left: -27px; font-weight: 400; line-height: 0.5; ">Bath</p>
            </div>
            <div style=" width: 355px; margin-left: 40px; ">
                <p style="margin-top: 15px; margin-left: 1px; font-size: 12px; font-weight: 400; line-height: 0.5; ">เป็นจำนวนเงินตัวอักษร&nbsp;&nbsp;</p><span id="AmountTH"></span>
                <p style="margin-top: 15px; font-size: 12px; margin-left: 1px; font-weight: 400; line-height: 0.5; ">Amount in letter&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><span id="AmountEN"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div style="left: 1px; width: 150px;">
                <p style="margin-top: 15px; margin-left: 30px; font-size: 12px; font-weight: 400; line-height: 0.5;">รายละเอียด :</p>
                <p style="font-size: 12px; margin-left: 30px; font-weight: 400; line-height: 0.5; ">Detail</p>
            </div>
            <div class="col-4" style="left: 30px; ">
                <textarea class="form-control" id="detail" rows="3" style="margin-top: 15px; margin-left: -50px;"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div style="left: 1px; width: 300px;">
                <p style="margin-top: 25px; margin-left: 30px; font-size: 12px; font-weight: 400; line-height: 0.5;">เบิกให้ผู้ใด&nbsp; (To whom)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div style="left: 1px; width: 200px; margin-left: 50px;">
                <label class="form-check-label" style="font-size: 12px; font-weight: 400;">&nbsp;1.ตนเอง (yourself)</label>
            </div>

            <div style="left: 1px; width: 300px;">
                <!-- Dummy option to simulate unchecking -->
                <input class="form-check-input" type="radio" name="whom" id="whom_none" value="" style="display:none">
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div style="left: 1px; width: 300px;">
                <p style="margin-top: 25px; margin-left: 30px; font-size: 12px; font-weight: 400; line-height: 0.5;">โดยมีเอกสารแนบ ดังนี้</p>
                <p style="font-size: 12px; margin-left: 30px; font-weight: 400; line-height: 0.5; ">By attached below document</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div style="left: 1px; width: 700px;">
                <table class="table" style="font-size: 12px; margin-left: 30px; margin-top: 15px; font-weight: 400; line-height: 0.5; ">
                    <tr>
                        <td><label class="form-check-label">1)ใบเสร็จ (Receipt)</label></td>

                        <td><label class="form-check-label">2)ใบรับรองแพทย์  (Medical certificate) </label></td>

                        <td><label class="form-check-label">3)ใบรับรองการเป็นบุตร  (child certificate)</label></td>
                    </tr>
                    <tr>
                        <td><label class="form-check-label" style="color: #3383AF; text-decoration: underline; ">1)ชื่อไฟล์ </label></td>

                        <td><label class="form-check-label" style="color: #3383AF; text-decoration: underline; ">2)ชื่อไฟล์ </label></td>

                        <td><label class="form-check-label" style="color: #3383AF; text-decoration: underline; ">3)ชื่อไฟล์ </label></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div style="left: 1px; width: 120px;">
                <p style="margin-top: 25px; margin-left: 30px; font-size: 12px; font-weight: 400; line-height: 0.5;">comment :</p>
            </div>
            <div style="left: 1px; width: 300px;">
                <textarea class="form-control" id="detail" rows="2" style="margin-top: 15px; background: #FFF7B2; margin-left: -5px;"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-12 " style=" text-align: right;">
                <button type="button" class="btn btn-danger" style="color: white; width: 90px; margin-top: 100px; font-size: 12px;">Disapprove</button>
                <button type="button" class="btn" style="background-color: #3CE84D; color: white; width: 80px; margin-left: 40px; margin-top: 100px; font-size: 12px;">Approve</button>
            </div>

        </div>
    </div>
    @*History timeline*@
    <div class="col-3 custom-border" style="height:1353px;">
        <h3 style="font-size: 20px; margin-top: 10px; font-weight: 700; color: #3383AF; ">History line</h3>
        <div class="row" style="margin-top: -30px; height:560px;">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" style="background-color: #3383AF; color: white; font-size: 18px; font-weight: 600;" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            History line
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body" style="height: 626px; background-color: #EDEFF1;">
                            @*History timeline Line*@
                            <div class="row " style="margin-top: -10px; height: 410px; ">
                                <div class="col-1" style="margin-left: 15px; ">
                                    <div class="row ">
                                        <div class="circleapprove" style="margin-top: 75px; margin-left: 3px;">
                                            <img src="~/img/employee.png" style="width: 16px; height: 16px; ">
                                        </div>
                                        <div class="col-1 line"></div>
                                        <div class="circleapprove" style="margin-left: 3px;">
                                            <img src="~/img/employee.png" style="width:16px; height:16px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 lineCut2bar"></div>
                                        <div class="circleapprove" style="margin-left: 3px;">
                                            <img src="~/img/employee.png" style="width: 16px; height: 16px; ">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 lineCut2"></div>
                                        <div class="circle" style="margin-left: 3px;">
                                            <img src="~/img/user.png" style="width: 14px; height: 16px; ">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 lineCutHR"></div>
                                        <div class="circle" style="margin-left: 3px;">
                                            <img src="~/img/user.png" style="width: 14px; height: 16px; ">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 lineCutafter"></div>
                                        <div class="circle" style="margin-left: 3px;">
                                            <img src="~/img/user.png" style="width: 14px; height: 16px; ">
                                        </div>
                                    </div>
                                    <div class="row">
                                    </div>
                                </div>
                                @*History timeline Box*@
                                <div class="col-9" style=" margin-left: 10px;">
                                    <div class="row">
                                        <div class="row" style=" margin-top: 20px;">
                                            <div class="col" style="text-align: center;  height: 140px; padding: 5px; border-radius: 10px; border: 0.5px solid #3383AF; background-color: white; z-index: 2; position: relative; margin-left: 15px; ">
                                                <div class="row" style="text-align: right; margin-right: 3px;">
                                                    <label style="font-size: 16px; font-weight: 400;"><span id="dateRequest">xx/xx/xxxx xx:xx</span></label>
                                                </div>
                                                <div class="row" style="text-align: left; width: 80px; margin-left: 4px;  margin-top: -7px;">
                                                    <label style="background-color: #EEFAFF; color: #A3DEFF; border-radius: 8px; padding: 4px 4px; display: inline-flex; align-items: center; font-size: 16px; font-weight: 800; ">
                                                        Request
                                                    </label>
                                                </div>
                                                <div class="row" style="text-align: left;  margin-left: -3px; margin-top: -2px;">
                                                    <label style="font-size: 14px; font-weight: 700; color: #3383AF; line-height: 0.5; ">First Name</label>
                                                    <label style="font-size: 14px; font-weight: 700; color: #3383AF; line-height: 0.5; ">Last Name</label>
                                                </div>
                                                <div class="row" style="text-align: left; margin-left: -3px; margin-top: -2px; margin-right: 3px; ">
                                                    <label style="font-size: 14px; font-weight: 500;  word-wrap: break-word; overflow-wrap: break-word;">Comment.........................................................................</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style=" margin-top: 10px;">
                                            <div class="col" style="text-align: center;  height: 140px; padding: 5px; border-radius: 10px; border: 0.5px solid #3383AF; background-color: white; z-index: 2; position: relative; margin-left: 15px; ">
                                                <div class="row" style="text-align: right; margin-right: 3px;">
                                                    <label style="font-size: 16px; font-weight: 400;"><span id="dateRequest">xx/xx/xxxx xx:xx</span></label>
                                                </div>
                                                <div class="row" style="text-align: left; width: 105px; margin-left: 4px;  margin-top: -7px;">
                                                    <label style="background-color: #FFE2B7; color: #FBB64F; border-radius: 8px; padding: 4px 4px; display: inline-flex; align-items: center; font-size: 16px; font-weight: 800; ">
                                                        HR Review
                                                    </label>
                                                </div>
                                                <div class="row" style="text-align: left;  margin-left: -3px; margin-top: -2px;">
                                                    <label style="font-size: 14px; font-weight: 700; color: #3383AF; line-height: 0.5; ">First Name</label>
                                                    <label style="font-size: 14px; font-weight: 700; color: #3383AF; line-height: 0.5; ">Last Name</label>
                                                </div>
                                                <div class="row" style="text-align: left; margin-left: -3px; margin-top: -2px; margin-right: 3px; ">
                                                    <label style="font-size: 14px; font-weight: 500;  word-wrap: break-word; overflow-wrap: break-word;">Comment.........................................................................</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style=" margin-top: 10px;">
                                            <div class="col" style="text-align: center;  height: 163px; padding: 5px; border-radius: 10px; border: 0.5px solid #3383AF; background-color: white; z-index: 2; position: relative; margin-left: 15px; ">
                                                <div class="row" style="text-align: right; margin-right: 3px;">
                                                    <label style="font-size: 16px; font-weight: 400;"><span id="dateRequest">xx/xx/xxxx xx:xx</span></label>
                                                </div>
                                                <div class="row" style="text-align: left; width: 85px; margin-left: 4px;  margin-top: -7px;">
                                                    <label style="background-color: #FFFDCC; color: #F1EB59; border-radius: 8px; padding: 4px 4px; display: inline-flex; align-items: center; font-size: 16px; font-weight: 800; ">
                                                        Manager Review
                                                    </label>
                                                </div>
                                                <div class="row" style="text-align: left;  margin-left: -3px; margin-top: -2px;">
                                                    <label style="font-size: 14px; font-weight: 700; color: #3383AF; line-height: 0.5; ">First Name</label>
                                                    <label style="font-size: 14px; font-weight: 700; color: #3383AF; line-height: 0.5; ">Last Name</label>
                                                </div>
                                                <div class="row" style="text-align: left; margin-left: -3px; margin-top: -2px; margin-right: 3px; ">
                                                    <label style="font-size: 14px; font-weight: 500;  word-wrap: break-word; overflow-wrap: break-word;">Comment.........................................................................</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style=" margin-top: 10px;">
                                            <div class="col" style="text-align: center; height: 40px; padding: 5px; border-radius: 10px; border: 0.5px solid #3383AF; background-color: white; z-index: 2; position: relative; margin-left: 15px; display: flex; flex-direction: column; justify-content: center; ">
                                                <h2 style="font-size: 16px; margin-top: 4px; font-weight: 500; text-align: center; color: #3383AF; ">HR Manager Review</h2>
                                            </div>
                                        </div>
                                        <div class="row" style=" margin-top: 10px;">
                                            <div class="col" style="text-align: center; height: 30px; padding: 5px; border-radius: 10px; border: 0.5px solid #3383AF; background-color: white; z-index: 2; position: relative; margin-left: 15px; display: flex; flex-direction: column; justify-content: center;">
                                                <h2 style="font-size: 16px; margin-top: 3px; font-weight: 500; text-align: center; color: #3383AF; ">CFO Review</h2>
                                            </div>
                                        </div>
                                        <div class="row" style=" margin-top: 10px;">
                                            <div class="col" style="text-align: center; height: 30px; padding: 5px; border-radius: 10px; border: 0.5px solid #3383AF; background-color: white; z-index: 2; position: relative; margin-left: 15px; display: flex; flex-direction: column; justify-content: center;">
                                                <h2 style="font-size: 16px; margin-top: 3px; font-weight: 500; text-align: center; color: #3383AF; ">Completed</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @*Chat box*@
            <div class="row" style="margin-left: 1px;">
                <div class="chat-box" style="margin-top: 20px;">
                    <div class="header">
                        <span class="name">Chat</span>
                    </div>
                    <div class="chat-room">
                        <div class="message message-left">
                        </div>
                        <div class="message message-right">
                        </div>
                    </div>
                    <div class="type-area">
                        <div class="input-wrapper">
                            <input type="text" id="inputText" placeholder="Type messages here..." />
                        </div>
                        <button class="button-send" onclick="sendMessage()">Send</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        let today = new Date().toISOString().slice(0, 10);
        let [year, month, day] = today.split('-');
        let formattedDate = `${day}/${month}/${year}`;
        let AmountinLetter = "(........................................................................................)";
        $("#englishDate").text(formattedDate);
        $("#thaiDate").text(formattedDate);
        $("#AmountTH").text(AmountinLetter);
        $("#AmountEN").text(AmountinLetter);
    });

    /* Chat box */

    var header = document.querySelector(".header");
    var chatRoom = document.querySelector(".chat-room");
    var typeArea = document.querySelector(".type-area");
    var btnAdd = document.querySelector(".button-add");
    var others = document.querySelector(".others");
    var emojiBox = document.querySelector(".emoji-button .emoji-box");
    var emojiButton = document.querySelector(".others .emoji-button");
    var emojis = document.querySelectorAll(".emoji-box span");
    var inputText = document.querySelector("#inputText");
    var btnSend = document.querySelector(".button-send");
    var messageArea = document.querySelector(".message.message-right");

    function sendMessage() {
        var mess = inputText.value;
        var bubble = document.createElement('div');
        bubble.className += " bubble bubble-dark";
        bubble.textContent = mess;
        messageArea.appendChild(bubble);
        inputText.value = "";
    }




    // Header onclick event
    header.addEventListener("click", (e) => {
        if (typeArea.classList.contains("d-none")) {
            header.style.borderRadius = "20px 20px 0 0";
        } else {
            header.style.borderRadius = "20px";
        }
        typeArea.classList.toggle("d-none");
        chatRoom.classList.toggle("d-none");
    });

    // Button Add onclick event
    btnAdd.addEventListener("click", (e) => {
        others.classList.add("others-show");
    });

    // Emoji onclick event
    emojiButton.addEventListener("click", (e) => {
        emojiBox.classList.add("emoji-show");
    });

    btnSend.addEventListener("click", sendMessage);

    for (var emoji of emojis) {
        emoji.addEventListener("click", (e) => {
            e.stopPropagation();
            emojiBox.classList.remove("emoji-show");
            others.classList.remove("others-show");
            inputText.value += e.target.textContent;
        });
    }


    var previousRadio = null;

    function handleRadioClick(radio) {
        if (radio === previousRadio) {
            radio.checked = false;
            previousRadio = null;
        } else {
            previousRadio = radio;
        }
    }

    var vTimeline = document.getElementById("horizontal-timeline");
    var hTimeline = document.getElementById("vertical-timeline");
</script>
