@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="col-2 custom-border" style="height:1353px; background-color:white;">
        <ul style="margin-left:-49px;">
            <li  style="background-color: #3383AF; height: 45px; color: white; font-size: 26px; font-weight: 600; "><p style="margin-left:6%;">Menu</p></li>
            <li id="request1"><a href=""><img class="Image1" style="width: 27px; height: 25px;" src="~/img/add.png" />Request</a></li>
            <li id="All_Request"><a href=""><img class="Image2" style="width: 27px; height: 25px; margin-left:-3px;" src="~/img/select-all.png" />All Request</a></li>
            <li id="My_Request"><a href=""><img class="Image3" style="width: 27px; height: 25px;" src="~/img/user (1).png" />My Request</a></li>
        </ul>
        <ul style="margin-left: -49px; margin-top:-17px;">
            <li style="background-color: #3383AF; height: 45px; color: white; font-size: 26px; font-weight: 600; "><p style="margin-left:5.5%;">Status</p></li>
            <li id="request2">
                <a href="">
                    <div class="row">
                        <div style="width:2%;margin-right:6px;">
                            <img class="Image4" style="width: 27px; height: 25px; margin-right: 10px;" src="~/img/quote-request (1).png" />
                        </div>
                        <div style="width: 10%; ">
                            <span style="vertical-align: middle; ">Request</span>
                        </div>
                        <div style="width:1%;">
                            <label style="background-color: #E83C3C; border-radius: 20px; padding: 5px 10px; vertical-align: middle; position: relative; top: 3px; left: 12px; color: white; font-size: 10px;">1</label>
                        </div>
                    </div>
                </a>
            </li>
            <li id="return">
                <a href="">
                    <div class="row">
                        <div style="width:2%;margin-right:6px;">
                            <img class="Image5" style="width: 27px; height: 25px; margin-right: 10px;" src="~/img/back-arrow.png" />
                        </div>
                        <div style="width: 10%; ">
                            <span style="vertical-align: middle; ">Return</span>
                        </div>
                        <div style="width:1%;">
                            <label style="background-color: #E83C3C; border-radius: 20px; padding: 5px 10px; vertical-align: middle; position: relative; top: 3px; left: 12px; color: white; font-size: 10px;">1</label>
                        </div>
                    </div>
                </a>
            </li>
            <li id="disapprove">
                <a href="">
                    <div class="row">
                        <div style="width:2%;margin-right:6px;">
                            <img class="Image6" style="width: 27px; height: 25px; margin-right: 10px;" src="~/img/contract.png" />
                        </div>
                        <div style="width: 10%; ">
                            <span style="vertical-align: middle; ">Disapprove</span>
                        </div>
                        <div style="width:1%;">
                            <label style="background-color: #E83C3C; border-radius: 20px; padding: 5px 10px; vertical-align: middle; position: relative; top: 3px; left: 12px; color: white; font-size: 10px;">1</label>
                        </div>
                    </div>
                </a>
            </li>
            <li id="HR_Review">
                <a href="">
                    <div class="row">
                        <div style="width:2%;margin-right:6px;">
                            <img class="Image7" style="width: 27px; height: 26px; margin-right: 10px;" src="~/img/document.png" />
                        </div>
                        <div style="width: 10%; ">
                            <span style="vertical-align: middle; ">HR Review</span>
                        </div>
                        <div style="width:1%;">
                            <label style="background-color: #E83C3C; border-radius: 20px; padding: 5px 10px; vertical-align: middle; position: relative; top: 3px; left: 12px; color: white; font-size: 10px;">1</label>
                        </div>
                    </div>
                </a>
            </li>
            <li id="Manager_Review">
                <a href="">
                    <div class="row">
                        <div style="width:2%;margin-right:6px;">
                            <img class="Image8" style="width: 27px; height: 26px; margin-right: 10px;" src="~/img/document.png" />
                        </div>
                        <div style="width: 10%; ">
                            <span style="vertical-align: middle; ">Manager Review</span>
                        </div>
                        <div style="width:1%;">
                            <label style="background-color: #E83C3C; border-radius: 20px; padding: 5px 10px; vertical-align: middle; position: relative; top: 3px; left: 12px; color: white; font-size: 10px;">1</label>
                        </div>
                    </div>
                </a>
            </li>
            <li id="HR_manager_Review">
                <a href="">
                    <div class="row">
                        <div style="width:2%;margin-right:6px;">
                            <img class="Image9" style="width: 27px; height: 26px; margin-right: 10px;" src="~/img/document.png" />
                        </div>
                        <div style="width: 10%; ">
                            <span style="vertical-align: middle; ">HR Manager Review</span>
                        </div>
                        <div style="width:1%;">
                            <label style="background-color: #E83C3C; border-radius: 20px; padding: 5px 10px; vertical-align: middle; position: relative; top: 3px; left: 12px; color: white; font-size: 10px;">1</label>
                        </div>
                    </div>
                </a>
            </li>
            <li id="CFO_Review">
                <a href="">
                    <div class="row">
                        <div style="width:2%;margin-right:6px;">
                            <img class="Image10" style="width: 27px; height: 26px; margin-right: 10px;" src="~/img/document.png" />
                        </div>
                        <div style="width: 10%; ">
                            <span style="vertical-align: middle; ">CFO Review</span>
                        </div>
                        <div style="width:1%;">
                            <label style="background-color: #E83C3C; border-radius: 20px; padding: 5px 10px; vertical-align: middle; position: relative; top: 3px; left: 12px; color: white; font-size: 10px;">1</label>
                        </div>
                    </div>
                </a>
            </li>
            <li id="completed">
                <a href="">
                    <div class="row">
                        <div style="width:2%;margin-right:6px;">
                            <img class="Image11" style="width: 26px; height: 26px; margin-right: 10px;" src="~/img/checked.png" />
                        </div>
                        <div style="width: 10%; ">
                            <span style="vertical-align: middle; ">Completed</span>
                        </div>
                        <div style="width:1%;">
                            <label style="background-color: #E83C3C; border-radius: 20px; padding: 5px 10px; vertical-align: middle; position: relative; top: 3px; left: 12px; color: white; font-size: 10px;">1</label>
                        </div>
                    </div>
                </a>
            </li>
        @*<li id="return"><a href=""><img class="Image5" style="width: 27px; height: 25px;" src="~/img/back-arrow.png" />Return</a></li>
        <li id="disapprove"><a href=""><img class="Image6" style="width: 27px; height: 25px;" src="~/img/contract.png" />Disapprove</a></li>
        <li id="HR_Review"><a href=""><img class="Image7" style="width: 27px; height: 26px;" src="~/img/document.png" />HR Review</a></li>
        <li id="Manager_Review"><a href=""><img class="Image8" style="width: 27px; height: 26px;" src="~/img/document.png" />Manager Review</a></li>
        <li id="HR_manager_Review"><a href=""><img class="Image9" style="width: 27px; height: 26px;" src="~/img/document.png" />HR Manager Review</a></li>
        <li id="CFO_Review"><a href=""><img class="Image10" style="width: 27px; height: 26px;" src="~/img/document.png" />CFO Review</a></li>
        <li id="completed"><a href=""><img class="Image11" style="width: 26px; height: 26px;" src="~/img/checked.png" />Completed</a></li>*@
        </ul>
        <ul style="margin-left: -49px; margin-top: -17px;">
            <li style="background-color: #3383AF; height: 45px; color: white; font-size: 26px; font-weight: 600; "><p style="margin-left:5.3%;">Setting</p></li>
            <li id="document"><a href=""><img class="Image12" style="width: 27px; height: 25px;" src="~/img/file (2).png" />Document</a></li>
            <li id="category"><a href=""><img class="Image13" style="width: 27px; height: 25px;" src="~/img/menu (1).png" />Category</a></li>
        </ul>
    </div>
    <div class="col custom-border" style="height:1353px; background-color: white;">
        <div id="bindRequest">
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // Load _RequestsContent on page load
            $("#bindRequest").load(`/Home/_RequestsContent`, function (response, status, xhr) {
                if (status == "error") {
                    alert("Error occurred during the process. Please contact the administrator");
                }
            });
            $(document).on('click', '#request1', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/_RequestsContent`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });
            // Handle click event on #request2 using 'on' method
            $(document).on('click', '#All_Request', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/AllRequest`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });

            $(document).on('click', '#My_Request', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/MyRequest`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });
            $(document).on('click', '#request2', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/Requests`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });
            $(document).on('click', '#document', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/Document`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });
            $(document).on('click', '#return', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/Return`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });
            $(document).on('click', '#HR_Review', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/HR_Review`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });
            $(document).on('click', '#disapprove', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/Disapprove`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });
            $(document).on('click', '#Manager_Review', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/Manager_Review`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });
            $(document).on('click', '#CFO_Review', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/CFO_Review`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });
            $(document).on('click', '#HR_manager_Review', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/HR_Manager_Review`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });
            $(document).on('click', '#completed', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/Completed`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });
            $(document).on('click', '#category', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Load AllRequest when #request2 is clicked
                $("#bindRequest").load(`/Home/Category`, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Error occurred during the process. Please contact the administrator");
                    }
                });
            });
        });
       
    </script>
}