/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.custom-border {
    border: 1px solid #3383AF;
}
body, html {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100vw; /* Full viewport width */
    box-sizing: border-box;
}

.col-2 {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}


li {
    list-style: none;
}

    li a {
        display: block;
        color: #3383AF;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #3383AF;
        position: relative;
        overflow: hidden;
    }

li {
    list-style: none;
}

li a {
display: block;
color: #3383AF;
text-decoration: none;
border: 1px solid #3383AF;
padding: 8px 16px;
}

li a:hover {
    background-color: #3383AF;
    color: white;
}

li a img {
    margin-right: 10px; /* Adjust the spacing between the image and text */
}
li a:hover::before {
    content: ""; /* Create an empty content */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: #3383AF;
}
li a:hover img.Image1 {
    content: url('../img/add (1).png'); /* Replace with your hover image URL for Image1 */
}

li a:hover img.Image2 {
    content: url('../img/select-all (1).png'); /* Replace with your hover image URL for Image2 */
}
li a:hover img.Image3 {
    content: url('../img/user (3).png'); /* Replace with your hover image URL for Image1 */
}

li a:hover img.Image4 {
    content: url('../img/quote-request (2).png'); /* Replace with your hover image URL for Image2 */
}
li a:hover img.Image5 {
    content: url('../img/back-arrow (1).png'); /* Replace with your hover image URL for Image1 */
}

li a:hover img.Image6 {
    content: url('../img/contract (1).png'); /* Replace with your hover image URL for Image2 */
}
li a:hover img.Image7 {
    content: url('../img/document (2).png'); /* Replace with your hover image URL for Image1 */
}

li a:hover img.Image8 {
    content: url('../img/document (2).png'); /* Replace with your hover image URL for Image2 */
}
li a:hover img.Image9 {
    content: url('../img/document (2).png'); /* Replace with your hover image URL for Image1 */
}

li a:hover img.Image10 {
    content: url('../img/document (2).png'); /* Replace with your hover image URL for Image2 */
}
li a:hover img.Image11 {
    content: url('../img/check.png'); /* Replace with your hover image URL for Image1 */
}
li a:hover img.Image12 {
    content: url('../img/file (3).png'); /* Replace with your hover image URL for Image2 */
}
li a:hover img.Image13 {
    content: url('../img/menu (2).png'); /* Replace with your hover image URL for Image2 */
}
.line {
    border: 1px solid #000; /* สีของเส้น */
    margin: 10px 0; /* ระยะห่างข้างบนและล่างของเส้น */
    border-color: #3383AF;
}
@media (max-width: 768px) {
    .col-2 {
        width: 100%;
        margin: 0; /* Reset margin */
    }
}
@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed);

body {
    font-family: "Barlow Condensed";
    margin: auto;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
}

button {
    width: 100px;
    margin: auto;
}

.timeline {
    display: flex;
    margin: 0 0 0 80px;
    justify-content: left;
}

    .timeline .circle {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: #858585;
        margin: 0;
        padding: 2px;
        margin-left: -5px;
        z-index: 2;
        position: relative;
    }

        .timeline .circle:hover {
            cursor: pointer;
        }

        .timeline .circle p {
            text-align: center;
            margin: auto;
            line-height: 30px;
            color: #ffffff;
        }

    .timeline .link {
        z-index: 0;
        background-color: #DDDDDD;
        padding: 0;
    }

.square {
    text-align: center;
    max-width: 150px;
    min-width: 90px;
    height: 120px;
    padding: 5px;
    border-radius: 10px;
    border: 0.5px solid #3383AF;
    background-color: white;
    z-index: 2;
    position: relative;
}

    .square.blank {
        visibility: hidden;
    }

#end {
    width: 0;
    height: 0;
}

.square h3,
.square h4 {
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 16px;
}

.square h3 {
    padding-top: 5px;
}

.square h4 {
    font-style: italic;
    font-weight: normal;
}

/* Linear timeline from left to right */
#horizontal-timeline {
    flex-direction: row;
    min-width: 800px;
}

.horizontal .link {
    width: 200px;
    height: 5px;
    margin-top: -15px;
    margin-left: 5px;
}

.horizontal .square {
    margin: 30px 0 20px -50px;
}

    .horizontal .square p {
        padding: 0;
        margin: 0;
        width: 100%;
    }

.square.up::after {
    margin: 12px 0px 0px 10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(176, 179, 204);
}



.square.down::after {
    margin: -108px 0 15px 15px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(176, 179, 204);
}


.horizontal #end {
    margin: 175px 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #a8d0f7;
}

/* Teeny */
.squareteeny.up::after {
    margin: 12px 0 0 10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(176, 179, 204);
}

/* Adjusted styles for squareteeny up */
.squareteeny.up {
    text-align: center;
    margin-left: -60px;
    margin-top: 105px;
    margin-bottom: 19px;
    max-width: 150px;
    min-width: 150px;
    height: 45px;
    padding: 5px;
    border-radius: 10px;
    border: 0.5px solid #3383AF;
    background-color: white;
    z-index: 2;
    position: relative;
}

    .squareteeny.up::after {
        margin: -108px 0 -15px 15px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid rgb(176, 179, 204);
    }

    .squareteeny.up h3,
    .squareteeny.up h4 {
        margin: 0 0 0 0px;
        text-align: center;
        font-size: 16px;
    }

    .squareteeny.up h3 {
        padding-top: 5px;
    }

    .squareteeny.up h4 {
        font-style: italic;
        font-weight: normal;
    }

 Horizontal timeline styles 
.horizontal .squareteeny.up::after {
    margin: 12px 0 0 10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(176, 179, 204);
}
.squareteeny.down {
    max-width: 150px;
    min-width: 90px;
    height: 75px;
    padding: 5px;
    border-radius: 10px;
    border: 0.5px solid #3383AF;
    background-color: white;
    z-index: 2;
    position: relative;
}

    .squareteeny.down::after {
        margin: -108px 0 15px 15px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid rgb(176, 179, 204);
    }
